/*
 * CREATE BY LUO YU
 * EMAIL indie.luo@gmail.com
 */

.entry-content {
	margin:0;
	padding:0;
}

.content-area {
	width:100%;
}

.am-profile {
	width:100%;
	background-color: #f3f3f3;
	padding: 20px 0 0 0;
}

.avatar {
	width:200px;
	height:200px;
	margin:0 auto;
}

.card {
	color:#808080;
	text-align:center;
	font-family:georgia;
}

.card a {
	text-decoration:none;
	color:#808080;
}

.card .name {
	font-size:16px;
}

.card .contact {
	font-size:13px;
}

/* CV STYLE */
.am-cv {
	width:75%;
	margin: 0 auto;
	padding: 0;
}
.am-cv * {
	margin: 0;
	padding: 0;
}
.gp-cate {
	margin: 10px 0 0 0;
	border-top: #dfdfdf dotted;
}

.gp-cate > .title {
	display:inline-block;
	float:left;
	width: 200px;
	text-align:right;
	text-transform:uppercase;
	margin: 10px 20px 0 0;
	font: normal bold 2.0em helvetica;
	color: #8b110d;
}
.gp-cate .company {
	display:inline-block;
}
.gp-cate li {
	list-style-type: none;
	margin:10px 0 10px 8px;
	width:640px;
}
.gp-cate li .title {
	font: normal bold 1.6em helvetica;
	text-transform:uppercase;
}
/* CV STYLE END */
